<div>
  <div>
    {{ messages$ | async }}
  </div>
  <button (click)="teluguMessage()">Telugu</button>
  <button (click)="englishMessage()">English</button>
  <hr />
  <div *ngIf="post | async as p"> 
    <h2>{{p.text}}</h2>
    <h4>Votes: {{p.likes}}</h4>
    <button (click)="upvote()">upvote</button>
    <button (click)="downvote()">downvote</button>
    <button (click)="resetPost()">resetPost</button>
    <br />
    <br />
    <br />
    <input [(ngModel)]="text" />
    <button (click)="editText()">change title</button>
  </div>
  <router-outlet></router-outlet>
</div>

